ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/action_configure
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/action_provision
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/action_set_name
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/box_meta
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/creator_uid
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/id
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/index_uuid
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/private_key
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/synced_folders
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/vagrant_cwd
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/Virtual Hard Disks/generic-debian12-hyperv-x64.vhdx
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/Virtual Machines/7040C67E-0669-4C2C-8B56-68D1F1BA4090.vmcx
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/Virtual Machines/7040C67E-0669-4C2C-8B56-68D1F1BA4090.vmgs
ubuntu-basic-hyper-v/.vagrant/machines/default/hyperv/Virtual Machines/7040C67E-0669-4C2C-8B56-68D1F1BA4090.VMRS
ubuntu-basic-hyper-v/.vagrant/rgloader/loader.rb
